// Import Bulma's core
@import '~bulma/sass/utilities/_all';

// Set your colors
$primary: #6f3d8b;
$primary-invert: findColorInvert($primary);
$success: #40a14d;
$success-invert: findColorInvert($success);
$danger: #e91212;
$danger-invert: findColorInvert($danger);

// $box-color: $white;
// $box-background-color: $dark;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  'white': (
    $white,
    $black
  ),
  'black': (
    $black,
    $white
  ),
  'light': (
    $light,
    $light-invert
  ),
  'dark': (
    $dark,
    $dark-invert
  ),
  'primary': (
    $primary,
    $primary-invert
  ),
  'info': (
    $info,
    $info-invert
  ),
  'success': (
    $success,
    $success-invert
  ),
  'warning': (
    $warning,
    $warning-invert
  ),
  'danger': (
    $danger,
    $danger-invert
  )
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
// @import '~assets/style/_variables';
@import '~bulma';
// @import '~assets/style/_overrides';
@import '~buefy/src/scss/buefy';

.datepicker {
  .dropdown-content {
    background: white !important;
  }
}

html {
  overflow-y: auto;
}

body {
  background: url(~assets/bg.jpg);
  background-position-y: top;
  background-position-x: center;
  background-size: cover;
  background-repeat: no-repeat;
}
