<template>
  <div class="default-layout">
    <!-- <nav
      class="navbar header has-shadow is-dark"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand">
        <nuxt-link class="navbar-item" to="/">
          <img src="~assets/house.svg" alt="Buefy" height="28" />
        </nuxt-link>
      </div>
    </nav> -->

    <section class="main-content">
      <nuxt />
    </section>
  </div>
</template>

<script>
export default {
  data() {
    return {
      items: [
        {
          title: 'Home',
          icon: 'home',
          to: { name: 'index' }
        },
        {
          title: 'Inspire',
          icon: 'lightbulb',
          to: { name: 'inspire' }
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
.default-layout {
  height: 100vh;
}
.main-content {
  // height: calc(100vh - 52px);
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.navbar {
  box-shadow: 0 2px 5px black;
}
</style>
