<template>
  <section class="bups">
    <b-modal :active.sync="isSettingsModalActive" :width="498" scroll="keep">
      <div class="card">
        <div class="card-content">
          <b-field label="Дедлайн">
            <b-datetimepicker
              v-model="settings.deadline"
              inline
              class="datepicker"
              horizontal-time-picker
            >
            </b-datetimepicker>
          </b-field>
          <b-field label="Cтоимость буптя">
            <b-numberinput v-model="settings.bupcost" :step="0.5" />
          </b-field>
          <b-field label="Целевая ЗП">
            <b-numberinput v-model="settings.targetPayout" />
          </b-field>
        </div>
      </div>
    </b-modal>
    <b-progress v-if="isLoading" class="loading" />
    <div v-show="!isLoading" class="columns">
      <div v-if="isLoading" class="column is-narrow tasks " />
      <div v-else class="column is-narrow tasks is-vertical">
        <div class="actions card">
          <div class="card-footer">
            <a
              class=" card-footer-item is-large has-text-dark"
              @click="isSettingsModalActive = true"
            >
              <b-icon icon="settings" />
            </a>
            <a
              class="card-footer-item is-large has-background-success has-text-white"
              @click="AddTask()"
            >
              <b-icon icon="plus" />
            </a>
          </div>
        </div>
        <div class="task-cards">
          <div v-for="(task, i) in tasks" :key="i" class="card">
            <header class="card-header">
              <div class="card-header-title">
                <b-input v-model="task.name" />
                <b-tooltip
                  label="Сколько уже оплачено?"
                  type="is-dark"
                  position="is-left"
                >
                  <b-numberinput
                    style="width: 120px;"
                    placeholder="Уже оплачено"
                    icon="credit-card"
                    icon-right="currency-rub"
                    v-model="task.payed"
                    :controls="false"
                  />
                </b-tooltip>
              </div>
            </header>
            <div class="card-content" v-if="!task.done">
              <span class="title is-5">Прогресс</span>
              <b-field v-for="(count, j) in task.progress" :key="j" grouped>
                <b-numberinput
                  expanded
                  v-model="task.progress[j]"
                  :controls="false"
                />
                <p class="control">
                  <button
                    :disabled="task.progress.length <= 2"
                    class="button is-danger is-outlined"
                    @click="RemoveState(task, j)"
                  >
                    <b-icon icon="delete" />
                  </button>
                </p>
              </b-field>
              <div
                class="button is-success is-fullwidth"
                @click="AddState(task)"
              >
                <b-icon icon="plus" />
              </div>
            </div>
            <div class="card-footer">
              <b-checkbox
                class="card-footer-item"
                v-model="task.done"
                type="is-success"
              >
                <span>Готово</span>
              </b-checkbox>
              <a
                class="card-footer-item has-text-danger"
                @click="RemoveTask(i)"
              >
                Удалить <b-icon icon="delete" />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="column stats">
        <div class="tile is-ancestor is-vertical">
          <div class="tile is-parent overall">
            <div class="tile card">
              <header class="card-header">
                <p class="card-header-title">Прогресс</p>
                <p class="card-header-icon">
                  <b-icon
                    class="card-header-icon"
                    :icon="
                      progress >= 100 ? 'progress-check' : 'progress-clock'
                    "
                  />
                </p>
              </header>
              <div class="card-content">
                <p>Общий: {{ progress }}%</p>
                <b-progress
                  size="is-large"
                  :type="progress >= 100 ? 'is-success' : 'is-info'"
                  :value="progress"
                />
                <p>Сессия: {{ sessionProgress }}%</p>
                <b-progress
                  size="is-large"
                  :type="sessionProgress >= 100 ? 'is-success' : 'is-info'"
                  :value="sessionProgress"
                />
              </div>
            </div>
          </div>
          <div class="tile is-parent">
            <div class="tile card">
              <header class="card-header">
                <p class="card-header-title">
                  Набупано
                </p>
                <p class="card-header-icon">
                  <b-icon class="card-header-icon" icon="counter" />
                </p>
              </header>
              <div class="card-content">
                <p class="title is-4">{{ bupsMade }} из {{ bupsNeeded }}</p>
                <p class="subtitle">
                  За последнюю сессию: {{ lastSession.bups }}
                </p>
              </div>
            </div>
            <div class="tile card">
              <header class="card-header">
                <p class="card-header-title">
                  Заработано
                </p>
                <p class="card-header-icon">
                  <b-icon class="card-header-icon" icon="wallet" />
                </p>
              </header>
              <div class="card-content">
                <p class="title is-4">
                  {{ earnedMoney }}₽ из
                  <span
                    @click="isSettingsModalActive = true"
                    Style="cursor: pointer"
                  >
                    {{ settings.targetPayout }}₽
                  </span>
                </p>
                <p class="subtitle">
                  За последнюю сессию: {{ lastSession.money }}₽
                </p>
              </div>
            </div>
          </div>
          <div class="tile is-parent">
            <div class="tile card">
              <header class="card-header">
                <p class="card-header-title">
                  Буптей в день
                </p>
                <p class="card-header-icon">
                  <b-icon class="card-header-icon" icon="counter" />
                </p>
              </header>
              <div class="card-content">
                <p class="title is-2">
                  {{ bupsPerDay }}
                </p>
                <p class="subtitle">
                  Не считая сегодня
                </p>
              </div>
            </div>
            <div class="tile card">
              <header class="card-header">
                <p class="card-header-title">
                  Осталось дней
                </p>
                <p class="card-header-icon">
                  <b-icon class="card-header-icon" icon="calendar" />
                </p>
              </header>
              <div class="card-content">
                <p class="title is-2">
                  {{ daysLast }}
                </p>
                <p
                  class="subtitle"
                  @click="isSettingsModalActive = true"
                  Style="cursor: pointer"
                >
                  До
                  {{
                    settings.deadline.toLocaleDateString('ru', {
                      day: '2-digit',
                      month: 'long'
                    })
                  }},
                  {{
                    settings.deadline.toLocaleTimeString('ru', {
                      hour: '2-digit',
                      minute: '2-digit'
                    })
                  }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Bups',
  data() {
    const date = new Date()
    return {
      isSettingsModalActive: false,
      isLoading: true,
      settings: {
        deadline: date,
        bupcost: 1.5,
        targetPayout: 15000
      },
      tasks: [
        {
          done: false,
          name: 'Новое задание',
          payed: 0,
          progress: [0, 100]
        }
      ]
    }
  },
  computed: {
    bupsNeeded() {
      return Math.ceil(this.settings.targetPayout / this.settings.bupcost)
    },
    bupsMade() {
      if (this.tasks) {
        let count = 0
        this.tasks.forEach((task) => {
          count += task.progress[task.progress.length - 1]
        })
        return count - this.bupsPayed
      } else {
        return 0
      }
    },
    bupsPayed() {
      if (this.tasks) {
        let totalPayout = 0
        this.tasks.forEach((task) => {
          totalPayout += task.payed
        })
        return (totalPayout /= this.settings.bupcost)
      } else {
        return 0
      }
    },
    lastSession() {
      let count = 0
      if (this.tasks[this.tasks.length - 1].progress.length < 2) {
        count = this.tasks[this.tasks.length - 1].progress[0]
        return { bups: count, money: count * this.settings.bupcost }
      } else {
        const lastvalue = this.tasks[this.tasks.length - 1].progress[
          this.tasks[this.tasks.length - 1].progress.length - 1
        ]
        const pastvalue = this.tasks[this.tasks.length - 1].progress[
          this.tasks[this.tasks.length - 1].progress.length - 2
        ]
        count = lastvalue - pastvalue
      }
      return { bups: count, money: count * this.settings.bupcost }
    },
    earnedMoney() {
      return this.bupsMade * this.settings.bupcost
    },
    daysLast() {
      return Math.ceil(
        (this.settings.deadline - new Date()) / 1000 / 60 / 60 / 24
      )
    },
    bupsPerDay() {
      return Math.ceil((this.bupsNeeded - this.bupsMade) / (this.daysLast - 1))
    },
    progress() {
      return Math.floor((this.earnedMoney / this.settings.targetPayout) * 100)
    },
    sessionProgress() {
      return Math.floor((this.lastSession.bups / this.bupsPerDay) * 100)
    }
  },
  watch: {
    settings: {
      handler: 'SaveLocaly',
      deep: true
    },
    tasks: {
      handler: 'SaveLocaly',
      deep: true
    }
  },
  created() {
    this.LoadLocaly()
  },
  methods: {
    AddTask() {
      this.tasks.push({
        name: 'Новое задание',
        payed: 0,
        progress: [0, 1]
      })
    },
    RemoveTask(taskIndex) {
      if (this.tasks.length === 1) {
        this.AddTask()
      }
      this.tasks.splice(taskIndex, 1)
    },
    AddState(task) {
      const count = task.progress[task.progress.length - 1]
      task.progress.push(count)
      if (task.progress.length > 5) {
        task.progress.splice(0, 1)
      }
    },
    RemoveState(task, stateIndex) {
      task.progress.splice(stateIndex, 1)
    },
    SaveLocaly() {
      if (process.browser) {
        localStorage.setItem('settings', JSON.stringify(this.settings))
        localStorage.setItem('tasks', JSON.stringify(this.tasks))
      }
    },
    LoadLocaly() {
      if (process.browser) {
        if (localStorage.settings) {
          const s = JSON.parse(localStorage.settings)
          this.settings = {
            deadline: new Date(s.deadline),
            bupcost: s.bupcost,
            targetPayout: s.targetPayout
          }
        }
        if (localStorage.tasks) {
          this.tasks = JSON.parse(localStorage.tasks)
        }
        this.isLoading = false
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.bups {
  height: 100%;
  width: 1124px;
  margin: auto;
  .loading {
    border-radius: 0;
    margin: 20px;
  }
}
.card {
  margin: 5px;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 3px black;
}
.columns {
  margin: 0px;
  height: 100%;
}
.tasks {
  width: 350px;
  height: 100%;
  // padding: 0;
  display: flex;
  flex-direction: column;
  .actions {
    .card-footer {
      border-top: unset;
    }
  }
  .task-cards {
    height: 100%;
    overflow-y: auto;
    padding: 0;
    &::-webkit-scrollbar-track {
      background-color: rgba(245, 245, 245, 0);
    }

    &::-webkit-scrollbar {
      width: 10px;
      // background-color: rgba(245, 245, 245, 0.5);
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 5.5px;
    }
  }
}
.stats {
  // padding: 0;
  display: flex;
  justify-content: center;
  .is-ancestor {
    max-width: auto;
    max-height: 590px;
  }
  .overall {
    max-height: 130px;
  }
}
</style>
