<template>
  <section class="section buttons">
    <nuxt-link to="/bups" class="button box card-link">
      <img src="~assets/index/bups.svg" />
      <h2 class="title">БУПТИ</h2>
    </nuxt-link>
  </section>
</template>

<script>
export default {
  name: 'HomePage'
}
</script>

<style lang="scss" scoped>
.buttons {
  display: flex;
  justify-content: center;
}
.card-link {
  display: block;
  width: 150px;
  height: 190px;
  padding: 10px;
  h2 {
    text-align: center;
  }
  img {
    height: 130px;
  }
}
</style>
